<nav class="global-nav">
      <div class="container">
        <div class="navigation">
          <ul class="left-actions">
            <li class="nav-item">
              <%= link_to "ホーム", root_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="right-actions">
            <li class="nav-item">
              <%= link_to "ツイート", "#", class: "btn btn-primary tweet-btn" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>